﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>
    @if (Session["UserName"] != null && Session["UserName"].ToString() != string.Empty)
    {
    <div class="navbar navbar-inverse">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ERP", "ERPTypes", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Data Manipulation", "Index", "Home")</li>
                    <li>@Html.ActionLink("Registration", "Registration", "Home")</li>

                </ul>*@
            </div>
        </div>
        
    </div>
    }
<div class="container body-content">
    @RenderBody()
    @if (Session["UserName"] != null && Session["UserName"].ToString() != string.Empty)
    {
        <hr />
        <footer></footer>
    }
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


@RenderSection("scripts", required: false)

</body>
</html>
