﻿
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1>Make API requests</h1>

    <hr>
    <div class="clearfix">
        <label>Sync Products List</label>
        <button type="button" class="fetchclass btn-primary" id="products">Fetch Products Data</button>
        <div id="table"></div>
        @using (Html.BeginForm("PUSHDATA", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <button type="submit" class="btn-primary" id="Push">Push</button>
        }

    </div>
</div>




<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $('document').ready(function () {

        $('.fetchclass').click(function () {
            debugger;
            //var endpoint = $('#txtEndpoint').val();
            //var methord = $('#methodDropDownList').val();
            //var requestbody = $('textarea#txtAreaRequestBody').val();
            $.ajax({
                url: "/Request/SageRequest",
                type: 'GET',
                data: { endpoint: this.id, method: "get" },
                dataType: 'json', // added data type
                success: function (res) {
                    $('textarea#txtAreaResult').val(res);
                },
                error: function (error) {
                    debugger;
                    alert();
                }
            })

        });
    });
    //});

</script>


