﻿
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h1>Make API requests</h1>

    <hr>
    <div class="clearfix">
        <label>Sync Sale Invoices List</label>
        <button type="button" class="fetchclass btn-primary" id="sales_invoices">Fetch Sale Invoice Data</button>
        <div id="table"></div>
        @using (Html.BeginForm("PUSHDATA", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <button type="submit" class="btn-primary" id="Push">Push</button>
        }

    </div>
</div>




<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $('document').ready(function () {

        $('.fetchclass').click(function () {
            debugger;
            //var endpoint = $('#txtEndpoint').val();
            //var methord = $('#methodDropDownList').val();
            //var requestbody = $('textarea#txtAreaRequestBody').val();
            $.ajax({
                url: "/Request/SageRequest",
                type: 'GET',
                data: { endpoint: this.id, method: "get" },
                dataType: 'json', // added data type
                success: function (res) {
                    $('#table').html('');
                    res = JSON.parse(res);
                    var content = "<table><tr><th>Product ID </th><th> Product Name</th></tr>"
                    $.each(res.$items, function (index, item) {
                        content += '<tr dataval=' + item.$path + '><td>' + item.id + '</td><td>' + item.displayed_as + '</td>';
                    });
                    content += "</table>"
                    $('#table').append(content);
                    $('#Push').css("display", 'block');
                    $('table tr:not(:first)').bind('click', function () {
                        debugger;
                    })
                },
                error: function (error) {
                    debugger;
                    alert("error: Please validate access token");
                }
            })

        });
    });
    //});

</script>

