﻿
@{
    ViewBag.Title = "ERPTypes";
}

<h2>Select ERP Type</h2>

<div>
    <a href="/Home/Registration?ERP=SAP">SAP</a>
    <a href="/Home/Registration?ERP=Sage">Sage</a>
    @*<li>@Html.ActionLink("SAP", "Registration", "Home",new { ERP="SAP"})</li>*@
    @*<li>@Html.ActionLink("SAGE", "Registration", "Home")</li>
        <li>@Html.ActionLink("ORACLE", "Registration", "Home")</li>*@
</div>

