﻿
@{
    ViewBag.Title = "Home Page";
    var model = Session["InventoryData"];
}


<div class="container">
    <h1>Make API requests</h1>

    <hr>
<div class="clearfix">
                  <label>Inventory</label>
            <button type="button" class="signupbtn btn-primary" id="Inventory">Fetch Inventory Data</button>
        <div id="table"></div>
        @using (Html.BeginForm("PUSHDATA", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <button type="submit" class="btn-primary" id="Push">Push</button>
        }

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>


    $('document').ready(function () {
      
        $('#Push').css("display", 'none');
        $('#Inventory').click(function () {

            $.ajax({
                url: "/Home/FetchERPData",
                type: 'GET',
                dataType: 'json', // added data type
                success: function (res) {
                    debugger
                    //   var arr1 = ["AdjustmentPostingMadeByUser", "Batch", "BookQtyAmountInCoCodeCrcy", "BookQtyBfrCountInMatlBaseUnit", "CountedByUser", "Currency", "FiscalYear", "LastChangeUser", "Material", "MaterialBaseUnit", "Plant", "Quantity", "QuantityInUnitOfEntry", "StorageLocation", "UnitOfEntry"];
                    res = JSON.parse(res);


                  
                    var content = "<table><tr><th> AdjustmentPostingMadeByUser </th><th> Batch </th><th> BookQtyAmountInCoCodeCrcy </th><th> BookQtyBfrCountInMatlBaseUnit </th><th> CountedByUser </th><th> Currency </th><th> FiscalYear </th><th> LastChangeUser </th><th> Material </th><th> MaterialBaseUnit </th><th> Plant </th><th> Quantity </th><th> QuantityInUnitOfEntry </th><th> StorageLocation </th><th> UnitOfEntry </th></tr>"
                    $.each(res, function (index, item) {
                       content += '<tr><td>' + item.AdjustmentPostingMadeByUser + '</td><td>' + item.Batch + '</td><td>' + item.BookQtyAmountInCoCodeCrcy + '</td><td>' + item.BookQtyBfrCountInMatlBaseUnit + '</td><td>' + item.CountedByUser + '</td><td>' + item.Currency + '</td><td>' + item.FiscalYear + '</td><td>' + item.IsHandledInAltvUnitOfMsr + '</td>' + item.LastChangeUser + '</td>' + item.Material + '</td>' + item.MaterialBaseUnit + '</td>' + item.Plant +'</td>' + item.Quantity + '</td>' + item.QuantityInUnitOfEntry + '</td>' + item.StorageLocation + '</td>' + item.UnitOfEntry + '</td>';
                    });

                    content += "</table>"
                    $('#table').append(content);
                    $('#Push').css("display", 'block');
                },
                error: function (error) {
                    debugger;
                    alert('error: Invalid API Key');
                }
})

            });
        });
    //});

</script>
