﻿@model IEnumerable<Api_Intigartion.Models.IF_Inventory>

@{
    
}

<h2>IF Table Records</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenant_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FulFillment_Center_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitOfEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenant_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FulFillment_Center_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitOfEntry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material)
        </td>
        
    </tr>
}

</table>
