﻿
@{
    ViewBag.Title = "Index";
}

@*<body>
        <form id="form1" runat="server">
            <div>
                <h2>Endpoint</h2>
                <div class="col-md-4">
                    <label ID="Label1" class="form-control" Text="Endpoint"></label>
                    <br />
                    <input type="text" class="form-control" ID="txtEndpoint" />
                    <br />
                </div>
                <div>
                    <select class="form-control" id="methodDropDownList">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="DELETE">DELETE</option>
                    </select>
                </div>
                <div>
                    <label id="RequestBody"> Request Body</label>

                    <br />
                    <textarea id="txtAreaRequestBody" TextMode="multiline" Columns="70" Rows="30"></textarea>

                    <br />
                </div>
                <div>
                    <input type="button" ID="btnMakeRequest" name="Make Request" />
                    <br />
                </div>

                <div>
                    <label>Request Response</label>
                    <br />
                    <input type="text" id="txtAreaResult" TextMode="multiline" Columns="70" Rows="30" />
                    <br />
                </div>

            </div>
        </form>
    </body>*@

<div class="container">
    <h1>Make API requests</h1>

    <hr>
    <div class="clearfix">
        <label>Sync Products List</label>
        <button type="button" class="fetchclass btn-primary" id="products">Fetch Products Data</button>
        <div id="table"></div>
        @using (Html.BeginForm("PUSHDATA", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <button type="submit" class="btn-primary" id="Push">Push</button>
        }

    </div>
</div>




<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $('document').ready(function () {

        $('.fetchclass').click(function () {
            debugger;
            //var endpoint = $('#txtEndpoint').val();
            //var methord = $('#methodDropDownList').val();
            //var requestbody = $('textarea#txtAreaRequestBody').val();
            $.ajax({
                url: "/Request/SageRequest",
                type: 'GET',
                data: { endpoint: this.id, method: "get" },
                dataType: 'json', // added data type
                success: function (res) {
                    res = JSON.parse(res);
                    var content = "<table><tr><th>Product ID </th><th> Product Name</th></tr>"
                    $.each(res.$items, function (index, item) {
                        content += '<tr><td dataval=' + item.$path + '>' + item.id + '</td><td>' + item.displayed_as + '</td>';
                    });
                    content += "</table>"
                    $('#table').append(content);
                    $('#Push').css("display", 'block');
                },
                error: function (error) {
                    debugger;
                    alert("error: Please validate access token");
                }
            })

        });
    });
    //});

</script>
