﻿@{
    ViewBag.Title = "Login";
}
<div class="container-fluid login-window">
    <div class="row d-fixed">
        <div class="col-sm-12 from-outer d-flex align-items-center justify-content-center flex-column">
            <form class="entry-form login" action="/Login/Login" method="post">
                <img class="brand" src="../images/source-mash-logo.png" />
                <h1 class="welcome-note">Welcome, please sign in</h1>
                <div class="form-group">
                    <label class="form-label" for="uname">Username</label>
                    <input class="form-control" type="text" placeholder="Enter Username" name="UserName" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="psw">Password</label>
                    <input class="form-control" type="password" placeholder="Enter Password" name="Password" required>
                </div>

                <button class="btn btn-default submit" type="submit">Login</button>
                @ViewBag.error
            </form>
        </div>
    </div>
</div>




